@import url(./_image/about-author_image.css);
@import url(./_column/about-author_column.css);
@import url(./_title/about-author_title.css);
@import url(./_text/about-author_text.css);


.about-author {
  height: 624px;
  width: 100%;
  display: flex;
  /*justify-content: center;*/
  /*align-items: center;*/
  flex-direction: row;
}

@media (max-width: 1280px) {
  .about-author{
    /*height: 55.2vw; /*600px;*/
    height: calc( (100vw - 768px)/(1440 - 768) * (624 - 354) + 354px);
  }
}
