.button__card {
  min-width: 40px;
  min-height: 40px;
  padding: 12px 8px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: bold;
  font-weight: 600; /* 500 */
  font-size: 12px; /*10px;*/
  line-height: 14px; /* 12px;*/
  color: #000000;
  border-radius: 8px;
  margin-left: 5px;
  background-color: #fff;
  border-width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
