.header__menu_button{
  /* border-radius: 100px; */
  border-radius: 25px; 
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  padding: 12px 19px 12px 19px;
  display: flex;
  cursor: pointer;
}
.header__menu_button a{
  color: #B6BCBF;
}

@media (max-width: 1280px) {
  .header__menu_button{
    padding: 12px 20px 12px 20px; /* */
  }
}

@media (max-width: 680px) { 
  .header__menu_button{
    padding: 2px 20px; /* */
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 100px;
  }
}