.header__menu_active-black {
  position: relative;
  color: #1A1B22;
}

.header__menu_active-black::after {
  position: absolute;
  left: 0;
  top: 61px;
  color:#1A1B22;
  background-color: #1A1B22;
  height: 3px;
  width: 100%;
  content: "";
}
