.header__menu_active {
  position: relative;
  color: #fff;
  /*padding-bottom: 30px;*/
  /*border-bottom: 2px solid #fff;*/
}

.header__menu_active::after {
  position: absolute;
  left: 0;
  top: 61px;
  color: #fff;
  background-color: #fff;
  height: 3px;
  width: 100%;
  content: "";
}

@media (max-width: 680px) { 
  .header__menu_active::after {
    display: none;
  }
  
}