.git-comment__avatar{
  position: absolute;
  top: 62px;
  left: 24px;
  width: 64px;
  height: 64px;
}

@media (max-width: 760px) {
  .git-comment__avatar {
    left: 16px;
    width: 48px;
    height: 48px;
  }
}
