.button__gray{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  height: 64px;
  text-align: center;
  background: #FFFFFF;
  color: #1A1B22;
  border-radius: 80px;
  border-width: 0;
  display: block;
  outline: none;
  padding-left: 84px;
  padding-right: 84px;
}
.button__gray:hover, .button__gray:active{
  opacity: 0.8;
}
