@import url(./_search/button_search.css);

@import url(./_card/button_card.css);
@import url(./_card-keyword/button_card-keyword.css);
@import url(./_card-bookmark/button_card-bookmark.css);
@import url(./_card-help/button_card-help.css);
@import url(./_card-delete/button_card-delete.css);


.button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  width: 150px;
  height: 100%;
  font-size: 30px;
  display: block;
}

.button:focus {
  outline-color: greenyellow;
}
