@import url(./__search/button__search.css);

@import url(./__card/button__card.css);
@import url(./__card-keyword/button__card-keyword.css);
@import url(./__card-bookmark/button__card-bookmark.css);
@import url(./__card-help/button__card-help.css);
@import url(./__card-delete/button__card-delete.css);


.button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  /*width: 150px; ?? */
  height: 100%;
  font-size: 30px;
  display: block;
}

.button:focus {
  /*outline-color: greenyellow;*/
}
