.error-message {
    color: #FF3333;
    font-size: 0.8em;
    padding: 0px;
    margin-bottom: 24px;
    transition: .3s;
    opacity: 0;  
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    display: block;
}
  