.button__card-keyword{
  position:absolute;
  top: 0;
  left: 0;
  margin-left: 0;

  margin: 0;
  padding: 1px 6px;
  background-repeat: no-repeat;
  cursor: pointer;
  text-transform: none;
  overflow: visible;
  font-size: 100%;
  line-height: 1.15;
  box-sizing: border-box;
  text-rendering: auto;
}
