.button_card-bookmark__disable{
  background-image: url(../../../images/buttons/buton_card-bookmark_disable.svg);
  background-repeat: no-repeat;
  background-position-x: 7px;
  background-position-y: 8px;
}
