.button_card-bookmark__active{
  background-image: url(../../../images/buttons/_card-bookmark/button_card-bookmark__active.svg);
  background-repeat: no-repeat;
  background-position-x: 7px;
  background-position-y: 8px;
}
