.search__title {
  width: 608px;
  color: #fff;
  font-family: Roboto Slab, Arial, Helvetica, sans-serif;
  font-style: regular;
  font-weight: 200;
  font-size: 60px;
  line-height: 64px;
  border-color: #fff;
  border-width: 1px;
  margin-top: 80px;
  margin-left: 416px;
}
@media (max-width: 1439px) {
  .search__title {
    margin-top : calc( (100vw - 768px)/(1440 - 768) * (80 - 38) + 38px);
    margin-left : calc( (100vw - 768px)/(1440 - 768) * (416 - 163) + 163px);
    font-size : calc( (100vw - 768px)/(1440 - 768) * (60 - 36) + 36px);
    line-height : calc( (100vw - 768px)/(1440 - 768) * (64 - 40) + 40px);
    width : calc( (100vw - 768px)/(1440 - 768) * (608 - 385) + 385px);
  }
}
@media (max-width: 400px) {
  .search__title {
    font-size : calc( (100vw - 320px)/(768 - 320) * (60 - 36) + 36px);
    line-height : calc( (100vw - 320px)/(768 - 320) * (64 - 40) + 40px);
    margin-top : calc( (100vw - 320px)/(768 - 320) * (38 - 30) + 30px);
    margin-left : calc( (100vw - 320px)/(768 - 320) * (163 - 19) + 19px);
  }
}
