.flickity-button {
  position: absolute;
  /*background: hsla(0,0%,100%,.75);*/
  background: #1A1B22;
  box-shadow: 0px 3px 10px rgba(14, 26, 57, 0.2);
  border: none;
  color: #FFFFFF;
}
@media (max-width: 959px) {
  .flickity-button {
    display: none;
  }
}
.flickity-button:hover {
  position: absolute;
  /*background: hsla(0,0%,100%,.75);*/
  background:  #FFFFFF;
  color:#1A1B22;
  box-shadow: 0px 3px 10px rgba(14, 26, 57, 0.2);
  border: none;
  opacity: 0.9;
}
