.popup__close {
  width: 40px; /*26px;*/
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
  background-image: url(../../../images/popup/close-mid.svg);
}
@media screen and (max-width: 520px) {
  .popup__close {
      display: none;
  }
}
