.search-results_title{
  padding-top: 80px;
  padding-left: 104px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;

}
@media (max-width: 1280px) {
  .search-results_title{
    padding-top: calc( (100vw - 768px)/(1440 - 768) * (80 - 40) + 40px);
    padding-left: calc( (100vw - 768px)/(1440 - 768) * (104 - 40) + 40px);
    font-size: calc( (100vw - 768px)/(1440 - 768) * (40 - 30) + 30px);
    line-height: calc( (100vw - 768px)/(1440 - 768) * (46 - 34) + 34px);
  }
}
@media (max-width: 560px) {
  .search-results_title{
    margin-top: calc( (100vw - 320px)/(768 - 320) * (48 - 32) + 32px);
    margin-left: calc( (100vw - 320px)/(768 - 320) * (40 - 16) + 16px);
    margin-bottom: calc( (100vw - 320px)/(768 - 320) * (48 - 24) + 24px);
    width: calc( (100vw - 320px)/(768 - 320) * (452 - 288) + 288px);
    font-size: 30px;
    line-height: 34px;
   }
}
