.button__card-delete{
    background-image: url(../../../images/button/__card-delete/button__card-delete.svg);
    background-image: url(../../../images/button/__card-delete/button__card-delete.svg);

    background-repeat: no-repeat;
    background-position-x: 7px;
    background-position-y: 8px;
}

.button__card-delete_disable{
  background-image: url(../../../images/button/__card-delete/button__card-delete_disable.svg);

}



