.search_title {
  width: 608px;
  color: #fff;
  font-family: Roboto Slab;
  font-style: regular;
  font-weight: 200;
  font-size: 60px;
  line-height: 64px;
  border-color: #fff;
  border-width: 1px;
  margin-top: 80px;
}
