@import url(./__title/search__title.css);
@import url(./__text/search__text.css);
@import url(./__field/search__field.css);
@import url(./__field_input/search__field_input.css);

.search {
  /*height: 496px;*/
  width: 100%;
  display: flex;
  justify-content: center;
  /*align-items: flex-start;*/
  flex-direction: column;
  /*margin-left : 416px;*/
}

@media (max-width: 1439px) {
  .search{
  /*
    margin-left : calc( (100vw - 768px)/(1440 - 768) * (416 - 160) + 160px);

    width : calc( (100vw - 768px)/(1440 - 768) * (608 - 448) + 448px);
 */
  }
}

@media (max-width: 768px) {
  .search{
    height: calc( (100vw - 320px)/(768 - 3  20) * (334 - 480  ) + 480px);
  }
}
