@import url(./_title/search_title.css);
@import url(./_text/search_text.css);
@import url(./_field/search_field.css);
@import url(./_field__input/search_field_input.css);

.search {
  height: 496px;
  width: 608px;
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  flex-direction: column;
}
