@import url(./__image/card__image.css);
@import url(./__date/card__date.css);
@import url(./__title/card__title.css);
@import url(./__text/card__text.css);
@import url(./__source/card__source.css);
@import url(./__top-buttons/card__top-buttons.css);


.card{
  position: relative;
  width: 32.5%; /*400px;*/
  min-height: 576px;
  margin-right: 1.25%;
  background-color: #fff;
  border-radius: 16px;
  margin-bottom: 16px;
}

.card:nth-of-type(3){
  margin-right: 0;
}

.card:hover{
  /*
  background: rgba(8, 29, 45, 0.1);
  box-shadow: blur(58px);
  */
}

@media (max-width: 1280px) {
  .card{
    min-height: calc( (100vw - 768px)/(1440 - 768) * (576 - 420) + 420px);
    margin-bottom: calc( (100vw - 768px)/(1440 - 768) * (16 - 8) + 8px);
    width: calc( (100vw - 768px)/(1440 - 768) * (400 - 224) + 224px);
    margin-right: calc( (100vw - 768px)/(1440 - 768) * (16 - 8) + 8px);
  }
}
/*
@media (max-width: 768px) {
  .card{
    min-width: 224px;
    width: 40%;
    max-width: 400px;
   }
}
/*
@media (max-width: 480px) {
  .card{
    min-width: 224px;
    width: 95%;
    max-width: 400px;
    min-height: calc( (100vw - 320px)/(768 - 320) * (576 - 420) + 420px);
    margin-bottom: 2.5%;
    margin-right: 2.5%;
   }
}
*/
