.search-results__searching-news_text{
  margin-top: 24px;
  width: 20%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #B6BCBF;
}
@media (max-width: 768px) {
  .search-results__searching-news_text{
    margin-top: 5%;
    width: 90%;
  }
}

