.header_menu {
  /*min-width: 90px;*/
  /*margin-left: 34px;*/
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
  padding: 12px 0px 12px 0px;
  margin-left: 34px;
  /*display: flex;*/
}
.header_menu:hover, .header_menu:active{
  color: #FFF;
}
@media (max-width: 1439px) {
  .header_menu{
    margin-left: calc( (100vw - 768px)/(1440 - 768) * (34 - 16) + 16px);
  }
}



