.header_menu {
  /*min-width: 90px;*/
  /*margin-left: 34px;*/
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
  padding: 12px 0px 12px 0px;
  margin-left: 34px;
  /*display: flex;*/
}
