@import url(./_item/social-menu_item.css);
@import url(./_item/social-menu_item__fb.css);
@import url(./_item/social-menu_item__git.css);

.social-menu{
  display: flex;
  flex-direction: row;
  margin-right: 104px;
}

@media (max-width: 1280px) {
  .social-menu{
    margin-right: calc( (100vw - 768px)/(1440 - 768) * (104 - 40) + 40px);
  }
}
/* TODO: сохранить на всякий случай vk (пасхальное яцйцо) */
