.search__field {
  position:relative;
  margin-top: 64px;
  width: 100%;
  display: flex;
  /*border: 1px dotted fuchsia;*/
}
@media (max-width: 560px) {
  .search__field {
    flex-direction: column;
    margin-top: calc( (100vw - 320px)/(768 - 320) * (64 - 122) + 122px);
  }
}
