.button_card-delete{
    background-image: url(../../../images/buttons/_card-delete/button_card-delete.svg);
    background-repeat: no-repeat;
    background-position-x: 7px;
    background-position-y: 8px;
}

.button_card-delete__disable{
  background-image: url(../../../images/buttons/_card-delete/button_card-delete__disable.svg);
}



