.button_search {
  position: absolute;
  right: 0%;
  height: 100%;
  width: 168px;
  background: #2F71E5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  border-radius: 100px;
  border-width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  outline: none;
}
.button_search:hover{
  background: #347EFF;
  animation-duration: 9s;
}
.button_search:active{
  background: #2A65CC;
}
