.card_text{
  margin-top: 16px;
  margin-left: 6%; /*24px;*/
  margin-bottom: 54px;
  width: 88%; /* 352px;*/
  /*height: 110px;*/
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  /* main/black */
  color: #1A1B22;
}
