.git-comment__email{
  position: absolute;
  width: 300px;
  max-width: 69%;
  height: 22px;
  top: 98px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #1A1B22;
}
@media (min-width: 761px) {
  .git-comment__email {
    left: 104px;
  }
}

@media (max-width: 760px) {
  .git-comment__email {
    left: 76px;
  }
}

