.social-menu__item {
  width: 24px;
  height: 24px;
  margin-left: 24px;
}
.social-menu__item:first-of-type {
  margin-left: 0;
}
@media (max-width: 500px) {
  .social-menu__item{
    margin-left: 28px;
  }
}
