@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
@import url(./blocks/header/header.css);
@import url(./blocks/logo/logo.css);
@import url(./blocks/logo/logo_black.css);
@import url(./blocks/root/root.css);
@import url(./blocks/search/search.css);
@import url(./blocks/about-author/about_author.css);

@import url(./blocks/search-results/search-results.css);
@import url(./blocks/search-results/__preloader/search-results__preloader.css);

@import url(./blocks/card/card.css);
@import url(./blocks/saved/saved.css);
@import url(./blocks/history/history.css);
@import url(./blocks/tech/tech.css);

@import url(./blocks/social-menu/social-menu.css);
@import url(./blocks/footer/footer.css);

/* слайдер */
@import url(./vendor/sliders/flickity/flickity.css);

/* модальные окна, валидация, ошибки */
@import url(./blocks/popup/popup.css);
@import url(./blocks/input/input.css);
@import url(./blocks/error-message/error-message.css);

/*  кнопки */
@import url(./blocks/button/button.css);
@import url(./blocks/button/__gray/button__gray.css);


/*
@import url(./blocks/profile/profile.css);
@import url(./blocks/button/button.css);
@import url(./blocks/user-info/user-info.css);
@import url(./blocks/places-list/places-list.css);
@import url(./blocks/place-card/place-card.css);
*/

body {
  background-color: #fff;
  display: flex;
  justify-content: center;
  /*align-items: center;*/
}

/* DEBUG */

section {
  border-color: blueviolet;
  border-width: 1px;
}

div {
  border-color: blueviolet;
  border-width: 1px;
}
