.search-results__preloader{
  width: 74px;
  height: 74px;
  background-image: url(../../../images/preloader/preloader.png);
  animation-name: rotation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotation {
  0% {
      transform:rotate(0deg);
  }
  100% {
    transform:rotate(-360deg);
  }
}
