/*
@import url(./blocks/header/__nav/header__nav.css);
@import url(./blocks/header/__menu/header__menu.css);
@import url(./blocks/header/__menu/header__menu_a.css);

@import url(./blocks/header/__menu_active/header__menu_active.css);
@import url(./blocks/header/__menu_button/heder__menu_button.css);
@import url(./blocks/header/__menu_autorized/header__menu_autorized.css);
@import url(./blocks/header/__menu_exit/header__menu_exit.css);
@import url(./blocks/header/__menu_exit/header__menu_exit-black.css);

@import url(./blocks/header/__menu/header__menu_black.css);
@import url(./blocks/header/__menu/header__menu_black-button.css);
@import url(./blocks/header/__menu__active/header__menu_active-black.css);
*/

.header {
  /*min-height: 576px;*/
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(196, 196, 196, 0.01);
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2);
  /*
  border-bottom: 1px solid #A5A5A5;
  */
}

@media (max-width: 560px) {
  .header {
    height: calc( (100vw - 320px)/(768 - 320) * (80 - 56) + 56px);
  }
}
