.saved{
  width: 100%;
  /*height: 294px;*/
  background-color: #FFFFFF;
}
.saved_title{
  width: 712px;
  /*height: 24px;*/
  margin-left: 104px;
  margin-top: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: rgba(26, 27, 34, 0.5);
}
@media (max-width: 1280px) {
  .saved_title{
    margin-left: calc( (100vw - 768px)/(1440 - 768) * (104 - 40) + 40px);
    margin-top: calc( (100vw - 768px)/(1440 - 768) * (40 - 24) + 24px);

  }
}

.saved_text{
  margin-left: 104px;
  margin-top: 28px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
}
@media (max-width: 1280px) {
  .saved_text{
    margin-left: calc( (100vw - 768px)/(1440 - 768) * (104 - 40) + 40px);
    margin-top: calc( (100vw - 768px)/(1440 - 768) * (28 - 16) + 16px);
    font-size: calc( (100vw - 768px)/(1440 - 768) * (40 - 30) + 30px);
    line-height: calc( (100vw - 768px)/(1440 - 768) * (46 - 34) + 34px);
    width: 50%;
  }
}
.saved_keywords{
  margin-left: 104px;
  margin-top: 30px;
  margin-bottom: 56px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
}
@media (max-width: 1280px) {
  .saved_keywords{
    margin-left: calc( (100vw - 768px)/(1440 - 768) * (104 - 40) + 40px);
    margin-bottom: calc( (100vw - 768px)/(1440 - 768) * (56 - 32) + 32px);
  }
}

.saved_keywords__bold{
  font-weight: 600;
}
