.git-comment__link {
  position: absolute;
  right: 112px;
  width: 200px;
  height: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
}
@media (min-width: 1280px) {
  .git-comment__link {
    top: 85px;
  }
}

@media (min-width: 761px) {
  .git-comment__link {
    top: 48px;
    right: 40px;
  }
}

@media (max-width: 760px) {
  .git-comment__link {
    display: none;
  }
}
